# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
*.whl

# Virtual environments
venv/
.venv/
env/
.env/

# Tools
.mypy_cache/
.pytest_cache/
.ruff_cache/
.tox/

# IDE
.vscode/
.idea/
*.swp
